# Configurações do Servidor
PORT=3001

# Configurações do E-mail (Gmail)
EMAIL_USER=seuEmail@gmail.com
EMAIL_PASS=suaSenhaDeApp

# Segredo JWT (use uma string longa e aleatória!)
JWT_SECRET=coloque_um_segredo_muito_forte_aqui

# URL do Frontend
FRONTEND_URL=https://seusite.com
